In [1]:
import pandas as pd
import dec
from epw import epw

In [2]:
meteo=pd.read_csv('IPIEMONT220.csv',index_col='Time',parse_dates=[0,])
meteo.head()

,TemperatureC,DewpointC,PressurehPa,WindDirection,WindDirectionDegrees,WindSpeedKMH,WindSpeedGustKMH,Humidity,HourlyPrecipMM,Conditions,Clouds,dailyrainMM,SolarRadiationWatts/m^2,SoftwareType,DateUTC
Time,,,,,,,,,,,,,,,
2017-01-01 00:00:00,4.6,2.1,1028.0,North,0,0.0,3.2,84,0.0,NaN,NaN,0.0,0,Cumulus v1.9.4,2015-12-31 23:00:00
2017-01-01 00:14:00,4.6,2.1,1027.7,North,0,0.0,3.2,84,0.0,NaN,NaN,0.0,0,Cumulus v1.9.4,2015-12-31 23:14:00
2017-01-01 00:29:00,4.6,2.1,1027.7,North,0,0.0,1.6,84,0.0,NaN,NaN,0.0,0,Cumulus v1.9.4,2015-12-31 23:29:00
2017-01-01 00:44:00,4.5,2.1,1027.7,NW,323,1.6,3.2,84,0.0,NaN,NaN,0.0,0,Cumulus v1.9.4,2015-12-31 23:44:00
2017-01-01 01:00:00,4.5,2.2,1027.7,North,0,0.0,1.6,85,0.0,NaN,NaN,0.0,0,Cumulus v1.9.4,2017-01-01 00:00:00

In [3]:
meteo=meteo.resample('H').mean().interpolate()
meteo.head()

,TemperatureC,DewpointC,PressurehPa,WindDirectionDegrees,WindSpeedKMH,WindSpeedGustKMH,Humidity,HourlyPrecipMM,Conditions,Clouds,dailyrainMM,SolarRadiationWatts/m^2
Time,,,,,,,,,,,,
2017-01-01 00:00:00,4.575000,2.100000,1027.775,80.75,0.400000,2.80,84.000000,0.0,NaN,NaN,0.0,0.0
2017-01-01 01:00:00,4.425000,2.125000,1027.400,242.25,0.800000,4.00,85.000000,0.0,NaN,NaN,0.0,0.0
2017-01-01 02:00:00,4.200000,2.040000,1027.300,321.80,1.920000,5.76,85.800000,0.0,NaN,NaN,0.0,0.0
2017-01-01 03:00:00,3.966667,1.866667,1027.700,311.00,2.133333,6.40,86.333333,0.0,NaN,NaN,0.0,0.0
2017-01-01 04:00:00,3.740000,1.820000,1027.460,243.00,0.960000,4.48,87.400000,0.0,NaN,NaN,0.0,0.0

In [4]:
meteo.columns

Index(['TemperatureC', 'DewpointC', 'PressurehPa', 'WindDirectionDegrees',
       'WindSpeedKMH', 'WindSpeedGustKMH', 'Humidity', 'HourlyPrecipMM',
       'Conditions', 'Clouds', 'dailyrainMM', 'SolarRadiationWatts/m^2'],
      dtype='object')

In [5]:
latitude = 45.0619883  # latitude  N
longitude = 7.6602814  # longitude E
elevation = 250  # meters above the sea

In [6]:
rad=pd.DataFrame(meteo['SolarRadiationWatts/m^2'].values,index=meteo.index,columns=['GHI'])

In [7]:
rad=dec.main(rad,latitude,longitude,elevation)

/home/ict4bd/ipython/weather/dec.py:275: pvlibDeprecationWarning: The relativeairmass function was deprecated in pvlib 0.6 and will be removed in 0.7. Use get_relative_airmass instead.
  df['airmass_relative']=pvlib.atmosphere.relativeairmass(df['zenith'], model='kastenyoung1989')
/home/ict4bd/ipython/weather/dec.py:276: pvlibDeprecationWarning: The absoluteairmass function was deprecated in pvlib 0.6 and will be removed in 0.7. Use get_absolute_airmass instead.
  df['m']=(pvlib.atmosphere.absoluteairmass(df['airmass_relative'], pressure=pres))
/home/ict4bd/ipython/weather/dec.py:240: RuntimeWarning: invalid value encountered in double_scalars
  df['k_b'] = df['DNI']/df['DNI_clear']
/home/ict4bd/ipython/weather/dec.py:241: RuntimeWarning: invalid value encountered in double_scalars
  df['k_d'] = df['DHI']/df['DHI_clear']

In [8]:
rad

                     GHI  DNI  DHI
Time
2017-01-01 00:00:00  0.0  0.0  0.0
2017-01-01 01:00:00  0.0  0.0  0.0
2017-01-01 02:00:00  0.0  0.0  0.0
2017-01-01 03:00:00  0.0  0.0  0.0
2017-01-01 04:00:00  0.0  0.0  0.0
...                  ...  ...  ...
2017-12-31 19:00:00  0.0  0.0  0.0
2017-12-31 20:00:00  0.0  0.0  0.0
2017-12-31 21:00:00  0.0  0.0  0.0
2017-12-31 22:00:00  0.0  0.0  0.0
2017-12-31 23:00:00  0.0  0.0  0.0

[8760 rows x 3 columns]

In [9]:
data=epw()
data.read('ITA_Torino.160590_IWEC.epw')

In [10]:
head=data.headers # this is a dictionary of the header information
print(head)

{'LOCATION': ['TORINO', '-', 'ITA', 'IWEC Data', '160590', '45.22', '7.65', '1.0', '287.0'], 'DESIGN CONDITIONS': ['1', 'Climate Design Data 2009 ASHRAE Handbook', '', 'Heating', '1', '-6', '-4.6', '-12.4', '1.3', '0.6', '-10.2', '1.6', '0.6', '9.4', '10.8', '7.1', '8.6', '0.4', '300', 'Cooling', '7', '10.1', '31', '22.5', '29.8', '21.9', '28.3', '21.1', '24', '28.6', '23.1', '27.6', '22.3', '26.6', '1.6', '90', '22.7', '18.1', '26.4', '21.8', '17.1', '25.6', '20.9', '16.1', '25.1', '73.4', '28.8', '70', '27.7', '66.9', '26.5', '923', 'Extremes', '6.3', '4.6', '3.7', '27', '-8.3', '33.2', '2', '1.7', '-9.7', '34.4', '-10.9', '35.4', '-12', '36.4', '-13.4', '37.6'], 'TYPICAL/EXTREME PERIODS': ['6', 'Summer - Week Nearest Max Temperature For Period', 'Extreme', '7/20', '7/26', 'Summer - Week Nearest Average Temperature For Period', 'Typical', '6/22', '6/28', 'Winter - Week Nearest Min Temperature For Period', 'Extreme', '12/22', '1/ 5', 'Winter - Week Nearest Average Temperature For Period', 'Typical', '12/22', '12/28', 'Autumn - Week Nearest Average Temperature For Period', 'Typical', '10/20', '10/26', 'Spring - Week Nearest Average Temperature For Period', 'Typical', '3/29', '4/ 4'], 'GROUND TEMPERATURES': ['3', '.5', '', '', '', '2.55', '4.35', '7.87', '11.20', '17.51', '20.83', '21.74', '20.06', '16.17', '11.32', '6.55', '3.40', '2', '', '', '', '5.03', '5.48', '7.48', '9.72', '14.56', '17.66', '19.20', '18.85', '16.64', '13.29', '9.53', '6.57', '4', '', '', '', '7.61', '7.30', '8.18', '9.45', '12.65', '15.05', '16.60', '16.98', '16.01', '14.04', '11.49', '9.18'], 'HOLIDAYS/DAYLIGHT SAVINGS': ['No', '0', '0', '0'], 'COMMENTS 1': ["IWEC- WMO#160590 - Europe -- Original Source Data (c) 2001 American Society of Heating, Refrigerating and Air-Conditioning Engineers (ASHRAE), Inc., Atlanta, GA, USA.  www.ashrae.org  All rights reserved as noted in the License Agreement and Additional Conditions. DISCLAIMER OF WARRANTIES: The data is provided 'as is' without warranty of any kind, either expressed or implied. The entire risk as to the quality and performance of the data is with you. In no event will ASHRAE or its contractors be liable to you for any damages, including without limitation any lost profits, lost savings, or other incidental or consequential damages arising out of the use or inability to use this data."], 'COMMENTS 2': [' -- Ground temps produced with a standard soil diffusivity of 2.3225760E-03 {m**2/day}'], 'DATA PERIODS': ['1', '1', 'Data', 'Sunday', ' 1/ 1', '12/31']}

In [11]:
df=data.dataframe.copy()  # this is pandas dataframe

In [12]:
df.columns

Index(['Year', 'Month', 'Day', 'Hour', 'Minute',
       'Data Source and Uncertainty Flags', 'Dry Bulb Temperature',
       'Dew Point Temperature', 'Relative Humidity',
       'Atmospheric Station Pressure', 'Extraterrestrial Horizontal Radiation',
       'Extraterrestrial Direct Normal Radiation',
       'Horizontal Infrared Radiation Intensity',
       'Global Horizontal Radiation', 'Direct Normal Radiation',
       'Diffuse Horizontal Radiation', 'Global Horizontal Illuminance',
       'Direct Normal Illuminance', 'Diffuse Horizontal Illuminance',
       'Zenith Luminance', 'Wind Direction', 'Wind Speed', 'Total Sky Cover',
       'Opaque Sky Cover (used if Horizontal IR Intensity missing)',
       'Visibility', 'Ceiling Height', 'Present Weather Observation',
       'Present Weather Codes', 'Precipitable Water', 'Aerosol Optical Depth',
       'Snow Depth', 'Days Since Last Snowfall', 'Albedo',
       'Liquid Precipitation Depth', 'Liquid Precipitation Quantity'],
      dtype='object')

In [13]:
meteo.columns

Index(['TemperatureC', 'DewpointC', 'PressurehPa', 'WindDirectionDegrees',
       'WindSpeedKMH', 'WindSpeedGustKMH', 'Humidity', 'HourlyPrecipMM',
       'Conditions', 'Clouds', 'dailyrainMM', 'SolarRadiationWatts/m^2'],
      dtype='object')

In [14]:
df['Dry Bulb Temperature']=meteo.TemperatureC.values

In [15]:
df['Dew Point Temperature']=meteo.DewpointC.values

In [16]:
df['Atmospheric Station Pressure'].unique()

array([ 97500,  97200,  97000,  96900,  96800,  97100,  97300,  97400,
        97600,  97700,  97800,  97900,  98000,  98200,  98300,  98100,
        98400,  98500,  98600,  98700,  98800,  98900,  99000,  99100,
        99200,  99300,  99400,  99500,  99600,  96600,  96500,  96400,
        96300,  96200,  96700,  96100,  99700,  99800,  99900, 100000,
        96000,  95900,  95800])

In [17]:
meteo.PressurehPa.unique()

array([1027.775, 1027.4  , 1027.3  , ..., 1032.475, 1030.76 , 1030.46 ])

In EPW the Pressure is expressed in Pa in out meteo data the Pressure is in hPa (Hectopascal) so 1Pa = 100*hPa

In [18]:
df['Atmospheric Station Pressure']=100*meteo.PressurehPa.values

In [19]:
df['Relative Humidity']=meteo.Humidity.values

In [20]:
df['Global Horizontal Radiation']=rad.GHI.values

In [21]:
df['Direct Normal Radiation']=rad.DNI.values

In [22]:
df['Diffuse Horizontal Radiation']=rad.DHI.values

In [23]:
df['Wind Direction']=meteo.WindDirectionDegrees.values

In [24]:
df['Wind Speed']=meteo.WindSpeedKMH.values

In [25]:
df.head()

,Year,Month,Day,Hour,Minute,Data Source and Uncertainty Flags,Dry Bulb Temperature,Dew Point Temperature,Relative Humidity,Atmospheric Station Pressure,...,Ceiling Height,Present Weather Observation,Present Weather Codes,Precipitable Water,Aerosol Optical Depth,Snow Depth,Days Since Last Snowfall,Albedo,Liquid Precipitation Depth,Liquid Precipitation Quantity
0,1986,1,1,1,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7A7A7A7A7*0E8*0*0,4.575000,2.100000,84.000000,102777.5,...,180,0,999999099,0,0.136,0,88,0.0,0.0,0.0
1,1986,1,1,2,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,4.425000,2.125000,85.000000,102740.0,...,180,9,999999999,0,0.136,0,88,0.0,0.0,0.0
2,1986,1,1,3,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7B8B8A7A7*0E8*0*0,4.200000,2.040000,85.800000,102730.0,...,150,0,999999099,0,0.136,0,88,0.0,0.0,0.0
3,1986,1,1,4,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7A7A7A7A7*0E8*0*0,3.966667,1.866667,86.333333,102770.0,...,120,0,999999099,0,0.136,0,88,0.0,0.0,0.0
4,1986,1,1,5,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,3.740000,1.820000,87.400000,102746.0,...,120,9,999999999,0,0.136,0,88,0.0,0.0,0.0

In [26]:
data.dataframe.head()

,Year,Month,Day,Hour,Minute,Data Source and Uncertainty Flags,Dry Bulb Temperature,Dew Point Temperature,Relative Humidity,Atmospheric Station Pressure,...,Ceiling Height,Present Weather Observation,Present Weather Codes,Precipitable Water,Aerosol Optical Depth,Snow Depth,Days Since Last Snowfall,Albedo,Liquid Precipitation Depth,Liquid Precipitation Quantity
0,1986,1,1,1,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7A7A7A7A7*0E8*0*0,0.5,-0.2,95,97500,...,180,0,999999099,0,0.136,0,88,0.0,0.0,0.0
1,1986,1,1,2,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,0.7,0.0,95,97200,...,180,9,999999999,0,0.136,0,88,0.0,0.0,0.0
2,1986,1,1,3,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7B8B8A7A7*0E8*0*0,0.9,0.1,94,97000,...,150,0,999999099,0,0.136,0,88,0.0,0.0,0.0
3,1986,1,1,4,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7A7A7A7A7*0E8*0*0,1.0,0.3,95,96900,...,120,0,999999099,0,0.136,0,88,0.0,0.0,0.0
4,1986,1,1,5,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,1.0,0.4,95,96900,...,120,9,999999999,0,0.136,0,88,0.0,0.0,0.0

In [27]:
data.dataframe=df.copy()

In [28]:
data.headers['LOCATION']

['TORINO', '-', 'ITA', 'IWEC Data', '160590', '45.22', '7.65', '1.0', '287.0']

In [29]:
data.write('my_epw_file.epw')

In [30]:
data.dataframe

,Year,Month,Day,Hour,Minute,Data Source and Uncertainty Flags,Dry Bulb Temperature,Dew Point Temperature,Relative Humidity,Atmospheric Station Pressure,...,Ceiling Height,Present Weather Observation,Present Weather Codes,Precipitable Water,Aerosol Optical Depth,Snow Depth,Days Since Last Snowfall,Albedo,Liquid Precipitation Depth,Liquid Precipitation Quantity
0,1986,1,1,1,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7A7A7A7A7*0E8*0*0,4.575000,2.100000,84.000000,102777.5,...,180,0,999999099,0,0.136,0,88,0.0,0.0,0.0
1,1986,1,1,2,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,4.425000,2.125000,85.000000,102740.0,...,180,9,999999999,0,0.136,0,88,0.0,0.0,0.0
2,1986,1,1,3,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7B8B8A7A7*0E8*0*0,4.200000,2.040000,85.800000,102730.0,...,150,0,999999099,0,0.136,0,88,0.0,0.0,0.0
3,1986,1,1,4,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7A7A7A7A7*0E8*0*0,3.966667,1.866667,86.333333,102770.0,...,120,0,999999099,0,0.136,0,88,0.0,0.0,0.0
4,1986,1,1,5,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,3.740000,1.820000,87.400000,102746.0,...,120,9,999999999,0,0.136,0,88,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,1993,12,31,20,60,C9C9C9C9*0?9?9?9?9?9?9?9*0C8C8C8C8*0*0E8*0*0,5.800000,1.275000,72.750000,103070.0,...,2700,9,999999999,0,0.160,24,88,0.0,0.0,0.0
8756,1993,12,31,21,60,C9C9C9C9*0?9?9?9?9?9?9?9*0C8C8C8C8*0*0E8*0*0,4.520000,0.580000,75.600000,103046.0,...,2700,9,999999999,0,0.160,24,88,0.0,0.0,0.0
8757,1993,12,31,22,60,C9C9C9C9*0?9?9?9?9?9?9?9*0C8C8C8C8*0*0E8*0*0,3.300000,0.150000,79.750000,103040.0,...,2700,9,999999999,0,0.160,24,88,0.0,0.0,0.0
8758,1993,12,31,23,60,C9C9C9C9*0?9?9?9?9?9?9?9*0C8C8C8C8*0*0E8*0*0,2.825000,0.425000,84.250000,103000.0,...,2700,9,999999999,0,0.160,24,88,0.0,0.0,0.0
8759,1993,12,31,24,60,C9C9C9C9*0?9?9?9?9?9?9?9*0C8C8C8C8*0*0E8*0*0,2.666667,0.366667,85.000000,102970.0,...,2700,9,999999999,0,0.160,24,88,0.0,0.0,0.0